@charset "UTF-8";
@namespace h "http://www.w3.org/1999/xhtml/";
@namespace epub "http://www.idpf.org/2007/ops";

/** CSS Editorial numérique, design du livre numérique et Hack le livre copyright Chapal & Panoz 2013 **/

/***************************/
/******* FONTS ************/
/*************************/

@font-face {
  font-family: "Mate";
  src: url('../Fonts/Mate-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mate";
  src: url('../Fonts/Mate-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Helvet";
  src: url('../Fonts/OpenSans-CondLight.otf');
  font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "Helvet";
  src: url('../Fonts/OpenSans-CondBold.otf');
  font-weight: bold;
  font-style: normal;
}

aside,
figcaption,
figure,
nav,
section {
	display: block;
}

[hidden] {
	display: none;
}

nav[epub|type~=toc] ol {
  list-style: none !important;
}

/***************************/
/******* GABARIT **********/
/*************************/

@page {
	margin: 16px 0;
	padding: 0;
}

body {
	margin: 0 16px;
	padding: 0;
	text-align: justify;
	font-family: "Mate", Georgia, Malabar, Amasis, serif;
	font-size: 100%;
	line-height: 1.4;
	adobe-hyphenate: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto;
  -ms-hyphenate-limit-lines: 2;
  -moz-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-lines: 2;
  hyphenate-limit-lines: 2;
  -ms-hyphenate-limit-chars: 6 3 2;
  -moz-hyphenate-limit-chars: 6 3 2;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 2;
  hyphenate-limit-chars: 6 3 2;
  -ms-hyphenate-limit-zone: 10%;
  -moz-hyphenate-limit-zone: 10%;
  -webkit-hyphenate-limit-zone: 10%;
  hyphenate-limit-zone: 10%;
  -ms-hyphenate-limit-last: always;
  -moz-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-last: always;
  hyphenate-limit-last: always;
	widows: 2;
  orphans: 2;
}

/***************************/
/******* STYLES COMMUNS ***/
/*************************/

h1, h2, h3, .copy, .legende, .toc li, .zero, .no-indent, li, .footnote {
	adobe-hyphenate: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
}

h1, h2, h3, .copy {
	font-family: "Helvet", "Helvetica Neue", Helvetica, "Avenir Next Condensed", Avenir, "Arial narrow", sans-serif;
	text-align: left;
	page-break-inside: avoid;
	page-break-after: avoid;
}

.auteur, .legende, .toc li {
	font-family: "Helvet", "Helvetica Neue", Helvetica, "Avenir Next Condensed", Avenir, "Arial narrow", sans-serif;
	text-align: left;
}

/***************************/
/******* TITRES ***********/
/*************************/

h1, h2 {
	line-height: 1.2;
}

h1 {
	font-size: 2em;
	font-weight: normal;
	margin: 0 0 2.8em 0;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	margin: 1.866em 0 0.933em 0.665em;
	text-indent: 0;
}

h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 1.4em 0 0 1em;
	text-indent: 0;
}

h3 span {
	float: right;
}

/***************************/
/******* TYPO *************/
/*************************/

p {
	margin: 0;
	padding: 0;
	text-indent: 0;
}

p+p, div+p, h3+p, ol+p, ul+p {
	margin: 0;
	padding: 0;
	text-indent: 1em;
}

.zero {
	text-indent: 0;
	text-align: left;
}

.no-indent {
	text-indent: 0;
	margin-top: 1.4em;
	text-align: left;
}

.auteur {
	font-weight: bold;
	text-indent: 0;
	text-align: left;
}

.toc {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.toc li {
	font-weight: bold;
	text-indent: 0;
	margin-bottom: 0.7em;
	text-align: left;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 1.4em;
}

li {
	line-height: 1.4;
	text-align: left;
}

/* Footnotes */

hr {
	width: 33%;
	border: none;
	margin: 1.3375em 0 0.6375em 0;
  	height: 0;
  	border: none;
  	border-top: 0.125em solid currentColor;
  	opacity: 0.5;
}

.endnotes {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footnote {
	text-align: left;
	font-size: 0.9em;
	text-indent: 0;
	margin-top: 0.77em;
}

.margin-top {
	margin-top: 20%;
}

.copy {
	text-align: center;
	font-weight: bold;
	text-indent: 0;
	font-size: 0.91em;
}

/***************************/
/******* MICROTYPO ********/
/*************************/

i, em, cite {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

sup {
	font-size: 90%;
	vertical-align: 10%;
	line-height: 1.2;
	margin-left: 0.2em;
}

a {
	text-decoration: none;
	color: #8A0808;
}

.appel {
	margin-left: 0.285em;
	font-size: 0.875em;
}

.bloc {
	text-indent: 0;
	display: inline-block;
}

/***************************/
/******* IMAGES ***********/
/*************************/

.image {
	width: 100%;
	margin: 1.4em 0;
	text-indent: 0;
	text-align: center;
}

.image-height {
	width: 70%;
	max-height: 100%;
	margin: 1.4em 15%;
	text-indent: 0;
	text-align: center;
	page-break-inside: avoid;
}

.image-caption {
	width: 100%;
	max-height: 100%;
	margin: 1.4em 0;
	text-indent: 0;
	clear: both;
	text-align: center;
	page-break-inside: avoid;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
  	vertical-align: bottom;
}

.w50 {
	width: 50%;
}

.w70 {
	width: 70%;
}

.legende {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 0.91em;
	line-height: 1.25;
}

hr.transition {
  width: 100%;
  margin: 0;
  height: 1.5em;
  border: none;
  background: 0 0;
}